langgraph
langchain-aws
langchain-core
fastapi
dotenv
uvicorn
langchain-openai
openai
anthropic[bedrock]
langchain-anthropic
google-cloud-firestore
qdrant-client
langsmith
crewai
crewai[tools]
apscheduler
redis
pandas
prometheus-client
ragas
datasets
langchain-community==0.0.38
tiktoken
langchain-google-vertexai
rouge-score
sacrebleu