langgraph
langchain-aws
langchain-core
fastapi
python-dotenv
uvicorn
langchain-openai
openai
anthropic[bedrock]
langchain-anthropic
google-cloud-firestore
qdrant-client
langsmith
crewai[tools]
apscheduler
redis
pandas
prometheus-client
datasets
tiktoken
langchain-google-vertexai
rouge-score
sacrebleu
google-adk
ragas